{% extends 'base.html' %}


{% block content %}
  <div class="lego">
    <div class="red"><center><img src="{{ url_for('static',filename='images/YA/ya-menu.jpg')}}"width=650, height=700></center></div>
    <div class="green">
      <center>
      <h3 style="font-size:9vw">野川堂秘境鍋物</h3>
      <br/>
      <h3 style="font-size:40px">地址:雲林縣虎尾鎮林森路二段440號</h3>
      <br/>
      <h3 style="font-size:40px"><img src="{{ url_for('static',filename='images/tele.png')}}"width=50, height=50> 056362877 </h3>
      <br/>
      <h3>FaceBook:<a href="https://www.facebook.com/YeChuanTang/">野川堂秘境鍋物 虎尾店</a></h3>
      <h3>Google Map:<a href="https://goo.gl/maps/Zaorx8eJH9wtvTWp7">野川堂秘境鍋物 虎尾店-雲林知名排隊火鍋店</a></h3>
      <br/>
      <h3 style="font-size:5vw">營業時間</h3>
      <h3>星期一 11:00–22:00 星期二 11:00–22:00<br/>
          星期三 11:00–22:00 星期四 11:00–22:00<br/>
          星期五 11:00–23:00 星期六 11:00–23:00<br/>
          星期日 11:00–23:00
      </h3>
      </center>
    </div>
  </div>

{% if name %}
    <br/>
    <h1>評論成功<br/>謝謝你</h1>
    <br/><br/><br/>
<table class="table table-success table-striped">
    {% for our_user in our_users %}
    <tr>
    <td>{{our_user.id}}. {{our_user.name
        }} - {{ our_user.email }}</td>
    </tr>
    {% endfor %}

</table>


{% else %}
    <h1>回饋</h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}

        {{ form.submit(class="btn btn-success") }}
    </form>

</div>
<br/><br/><br/>
<table class="table table-success table-striped">
    {% for our_user in our_users %}
    <tr>
    <td style="font-size:50px" >&nbsp; {{our_user.name
        }}的評論:&nbsp; {{ our_user.email }}
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}


